﻿@model ICollection<Microsoft.AspNet.Identity.UserLoginInfo>

@if (Model.Count > 0)
{
	<h4>Registered Logins</h4>
	<table class="table">
		<tbody>
			@foreach (var account in Model)
			{
				<tr>
					<td>@account.LoginProvider</td>
					<td>
						@if (ViewBag.ShowRemoveButton)
						{
							using (Html.BeginForm("Disassociate", "Account"))
							{
								@Html.AntiForgeryToken()
								<div>
									@Html.Hidden("loginProvider", account.LoginProvider)
									@Html.Hidden("providerKey", account.ProviderKey)
									<input type="submit" class="btn btn-default" value="Remove" title="Remove this @account.LoginProvider login from your account" />
								</div>
							}
						}
						else
						{
							@: &nbsp;
                        }
					</td>
				</tr>
			}
		</tbody>
	</table>
}