﻿@using System.Web.Optimization;
@using System.Diagnostics;
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Theme")
	@Html.GoogleAnalytics()
</head>
<body>
	<h1>abc.com</h1>
	@{
		Trace.Write("Before doing something");	
	}
	@RenderSection("header", false)
	<div>
		@RenderBody()
	</div>
	@RenderSection("footer", false)
</body>
</html>
